[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "/home/tomato/dotfiles/i3blocks/i3blocks-contrib"]
	path = i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "programs/dragon"]
	path = programs/dragon
	url = https://github.com/mwh/dragon.git
[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:tomato4/wallpapers.git
[submodule "polybar/modules_binary/polybar-forecast"]
	path = polybar/modules_binary/polybar-forecast
	url = https://github.com/skyme5/polybar-forecast.git
[submodule "polybar/modules_binary/polybar-cryptocurrency"]
	path = polybar/modules_binary/polybar-cryptocurrency
	url = git@github.com:tomato4/polybar-cryptocurrency.git
[submodule "polybar/modules_binary/polybar-spotify"]
	path = polybar/modules_binary/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:tomato4/fonts.git
[submodule "qutebrowser/dracula"]
	path = qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
[submodule "wallpapers_animated"]
	path = wallpapers_animated
	url = git@github.com:tomato4/wallpapers_animated.git
