[user]
  name =
  email =
[core]
  editor = nvim
  autocrlf = input
[init]
  defaultBranch = master
[pull]
  rebase = false
[alias]
  ll = log --oneline --graph --all --decorate
  amend = commit --amend --no-edit
